<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Common app settings features -->
    <add key="Equals" value="True"/>
    <add key="iscaseinsensitive" value="true"/>
    <add key="DefaultProperty" value="Configuration value"/>
    <!-- Boolean app settings -->
    <add key="BooleanUpperCase" value="TRUE" />
    <add key="BooleanLowerCase" value="true"/>
    <add key="BooleanMixedCase" value="tRuE"/>
    <add key="BooleanFalse" value="false" />
    <!-- DateTime app settings -->
    <add key="DateTimeDefault" value="2014-07-15T18:48:12" />
    <add key="DateTimeEnShortDate" value="07/15/2014" />
    <add key="DateTimeRuShortDate" value="15.07.2014" />
    <add key="DateTimeOnlyCulture" value="15.07.2014 18:48:12" />
    <add key="DateTimeEnCustomFormat" value="Tue, Jul 15, 2014" />
    <!-- Double app settings -->
    <add key="DoubleEn" value="12.34" />
    <add key="DoubleRu" value="12,34" />
    <add key="DoubleEForm" value="1.7E+3" />
    <!-- Float app settings -->
    <add key="SingleEn" value="12.34" />
    <add key="SingleRu" value="12,34" />
    <add key="SingleEForm" value="1.7E+3" />
    <!-- UInt16, Int32, UInt32, Int64, UInt64 app settings -->
    <add key="PositiveInteger" value="42"/>
    <add key="NegativeInteger" value="-42"/>
    <!-- Char app settings -->
    <add key="SimpleChar" value="c"/>
    <!-- String app settings -->
    <add key="SimpleString" value="Test string" />
    <add key="EmptyString" value="" />
  </appSettings>
</configuration>