ConfigurationMapper.Tests/bin/Debug/ConfigurationMapper.dll
ConfigurationMapper.Tests/bin/Debug/ConfigurationMapper.pdb
ConfigurationMapper.Tests/bin/Debug/ConfigurationMapper.Tests.dll
ConfigurationMapper.Tests/bin/Debug/ConfigurationMapper.Tests.dll.config
ConfigurationMapper.Tests/bin/Debug/ConfigurationMapper.Tests.pdb
ConfigurationMapper.Tests/obj/Debug/ConfigurationMapper.Tests.csproj.FileListAbsolute.txt
ConfigurationMapper.Tests/obj/Debug/ConfigurationMapper.Tests.csprojResolveAssemblyReference.cache
ConfigurationMapper.Tests/obj/Debug/ConfigurationMapper.Tests.dll
ConfigurationMapper.Tests/obj/Debug/ConfigurationMapper.Tests.pdb
ConfigurationMapper.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConfigurationMapper.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ConfigurationMapper.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ConfigurationMapper.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ConfigurationMapper.v12.suo
ConfigurationMapper/bin/Debug/ConfigurationMapper.dll
ConfigurationMapper/bin/Debug/ConfigurationMapper.pdb
ConfigurationMapper/obj/Debug/ConfigurationMapper.csproj.FileListAbsolute.txt
ConfigurationMapper/obj/Debug/ConfigurationMapper.csprojResolveAssemblyReference.cache
ConfigurationMapper/obj/Debug/ConfigurationMapper.dll
ConfigurationMapper/obj/Debug/ConfigurationMapper.pdb
ConfigurationMapper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConfigurationMapper/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ConfigurationMapper/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ConfigurationMapper/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs