<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="personConfig" type="ConfigurationMapper.Tests.ConfigSections.PersonConfigSection, ConfigurationMapper.Tests" />
	</configSections>	
  <appSettings>
    <add key="Boolean" value="true" />
    <add key="Integer" value="42" />    
  </appSettings>
	<personConfig>
		<settings serviceUrl="http://sometesturl.com" isEnabled="true" />
		<persons>
			<add id="{E704E594-60EF-4057-B53A-2A4C97635A90}" firstName="Peter" lastName="Griffin" />
			<add id="{8714285A-A063-441C-8B34-B2B725A0C49F}" firstName="Stewie" lastName="Griffin" />
		</persons>
	</personConfig>
</configuration>